DEBUG=False
SECRET_KEY=django-insecure-skill-x-change-platform-prod-quality-key-2026
MONGODB_URI=mongodb+srv://rachepallinandini_db_user:Nandini2005@cluster0.dli41nw.mongodb.net/skillxchange?retryWrites=true&w=majority
ALLOWED_HOSTS=*
